<div class="row"> 
 <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
     <img src="</*Fotod de Perfil*/>" class="img-fluid" id="fotodeperfil">
 </div>
 <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
     <p id="nombre">Ana Reboredo</p>
     <p>A CHEQUEAR (TITULO)</p>
 </div>
 <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
     <span>
         <h1>Acerca de mi</h1>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni modi quis quasi ipsum itaque, similique placeat pariatur nobis optio impedit voluptatem. Nostrum asperiores natus enim aliquam ullam culpa ut mollitia?
          </p>
        </span>
 </div>
</div>